body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: url(https://png.pngtree.com/background/20230303/original/pngtree-childrens-day-toys-cute-cartoon-blue-background-picture-image_2076442.jpg);
}

header {
    background-color: rgb(51, 139, 233);
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

#home, #profil, #products, #saran {
    padding: 20px;
    text-align: center;
}

#products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    border: 1px solid #000000;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: 150px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}
